@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: 600; 
}

.card {
    border: none;
    border-radius: 0.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}
.navbar-text{
    color: rgb(255, 255, 255);
}
.navbar-text:hover {
    color: lightgreen;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 600;
}

.ai-analysis h4 {
    font-weight: 600;
    color: #0d6efd;
}
.ai-analysis strong, .ai-analysis b {
    font-weight: 600;
    display: block;
    margin-top: 0.5rem;
    color: #343a40;
}